<!DOCTYPE html>
<html lang="en">

<head>
<title> {{greet}},{{name}} </title>
<link rel="stylesheet" href="static/style.css"/>
</head>
<body> 
<h1> {{greet}},{{name}}</h1>
<a href="/away">Away</a>
<img src="static/jinja.png" alt="image"
style="width:170px;"
</body>
</html>
